<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AnticDidone-Regular.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
		<string>Slabo13px-Regular.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Allow Pawparazzi to use the camera to capture cat photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Pawparazzi to capture sound when recording videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Pawparazzi to pick photos from your library.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Pawparazzi to save edited photos back to your library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Pawparazzi to tag posts with your current location.</string>
</dict>
</plist>
